python-dotenv~=1.0.0
pydub~=0.25.1
tiktoken==0.8.0
openai==1.51.2
python-telegram-bot==21.6
requests~=2.31.0
tenacity==9.0.0
wolframalpha~=5.0.0
duckduckgo_search==6.2.11b1
spotipy~=2.23.0
pytube~=15.0.0
gtts~=2.5.1
whois~=0.9.27
Pillow~=10.3.0
alembic==1.13.3
SQLAlchemy~=2.0.35
httpx~=0.27.2